/*
	2015-04-25 author:xxp
*/
/* 新手帮助开始 */
body{background:white;}
.center_page{overflow: visible}
.guide_nav{height:50px;line-height:50px;}
.guide_right{padding:0px 30px 0px 30px;}
/* 新手帮助结束 */
/* 左边导航开始 */
/*.guide_left{position:relative; width: 200px;float:left;margin-bottom:0px;color:#333; height: auto; background-color: white}*/
.guide_left{position:relative;width:200px;border:1px solid #30c2ff24;margin-bottom:40px;color:#333;background-color: white;}
.icon{background:url(//s1.zhgtrade.com/static/images/account/icon.png) no-repeat;}
.guide_left li{cursor:pointer;height:50px;line-height:50px;}
/*.guide_left li{border-right:1px solid #30c2ff24;cursor:pointer;height:50px;line-height:50px;}*/
/*.guide_left li{border-top:1px solid #30c2ff24;}*/
.guide_left a{display:block;height: 50px;}
.guide_left li:hover{background:#e9e9e9;}
.guide_left li.cur{background:white;border-top:1px solid #30c2ff24;border-bottom:1px solid #30c2ff24;border-right:0px;border-left:5px solid rgba(254, 116, 31, 0.9);}
.guide_left li.cur span{color:rgba(254, 116, 31, 0.9);}
.guide_left li.cur i{display: block}
.guide_left li.cur .iconfont{color:rgba(254, 116, 31, 0.9);}

/* 左边导航结束 */
/* 右边开始 */
/*.guide_right{background:#fff;line-height:25px;margin-bottom:0px;width:70%;float:right;border:1px solid #30c2ff24;border-width:1px 1px 1px 0px;padding:0px 40px;}*/
.guide_right{min-height: 500px;margin-left:30px;background:#fff;margin-bottom:40px;color:#333;font-size:14px;width: 905px;border:1px solid #30c2ff24;border-width:1px 1px 1px 1px;line-height: 25px;}
.guide_right .title{height:50px;line-height:50px;font-size: 22px; font-weight: 900; color: #000000; margin-top: 0.5em}
.guide_right .content{padding:10px 0px;line-height: 40px}
.guide_right .content .list{height:40px;line-height:40px;}
.guide_right .content .list .iconfont{font-size:12px;}
.guide_right .content .list a{color: black}
.guide_right .content .list span:hover{text-decoration: underline;}

/*.guide_right .content .list:hover{background:#f1f1f1;}*/


/* 右边结束 */

/* 左边导航栏子li元素*/
.show {display: block}
.hidden {display: none}

/*左移*/
.leftMove{text-align: left; text-indent: 2.5em}

/* page */
.page { width:auto; height:26px; padding:5px 0 10px; text-align: center; float:right; font-size:12px;}
.page li{  padding:2px 2px 0px; float:left;line-height:20px;}
.page li a,.pagel li a:hover,.page .current_ss{ border:1px solid #ccc; padding:2px 7px 0px; float:left; text-decoration:none; color:#000;}
.page li a:hover,.page .current_ss{ background:rgba(254, 116, 31, 0.9); color:#fff;}
.page .page-jump .txt{width: 30px;height: 20px;line-height:20px;border:1px solid #7E9DB9; ime-mode:disabled;text-align:center; vertical-align:middle; }
.page .page-jump .btn{height: 22px;line-height:18px;width: 45px;text-align:center;*vertical-align:middle;}

.articleIndex .iconfont{font-size: 7px}
.articleIndex a{width: 95%; font-size: 1.1em; text-align: left; text-indent: 1em; display: block; overflow:hidden; text-overflow: ellipsis;white-space:nowrap;}
.articleIndex a:hover{text-decoration: underline}
.articleIndex i{width: 20%; text-align: right; margin-top: .1em}

.selectedArticle{color: blue}

.guide_left .articleIndex{background-color: #f7f7f7}
/*左侧分页*/
.guide_left .articleIndex .leftPaging {text-align: center; text-indent: 10em; color: #08A3D7;}

/*左侧文章类型菜单下的文章标题*/
.guide_left .articleIndex a{font-size: 0.95em; text-align: left; text-indent: 3em}
.guide_left .articleIndex a:hover{text-decoration: underline}
.guide_left .articleIndex .cur{color: #08A3D7}

/*搜索文章内容*/
.guide_right .content a{color: rgba(254, 116, 31, 0.9);}
.guide_right .content a:hover{text-decoration: underline}
/*API*/
.api{margin-top: 30px;}
.api h2,.api h1{height:60px;line-height:60px;color:#333;padding-left:22px}
.about_text{margin:0 auto;border-top:1px dotted #919191;padding-top:12px}
.about_text p{line-height:24px;font-size:12px;color:#666;margin-bottom:24px}
.api li{text-align:left;}
.aboutText h2{margin:15px 0 10px}
.aboutText h3{margin:5px 0;font-size:16px;}
.aboutText h4{margin:5px 20px;font-size:14px;font-weight:bold;}
.aboutText ul{padding:5px 0 5px 20px}
.aboutText li{margin:0 0 0 40px;word-wrap: break-word; word-break: normal; font-size:12px; color:#666;}
.about_text p{margin-bottom: 0;}
.aboutText p strong{font-size: 14px;}
.assets_content h5{color: #333333;}
table{border: 1px solid #e4e4e4;text-align: left;margin: 16px 0px;}
table th{background: #f1f1f1;padding-left: 20px;height: 30px;line-height: 30px;}
table td{padding-left: 20px;border-top: 1px solid #e4e4e4;line-height: 30px;font-size:12px; color:#666;}
.API-hover-color p>a{color:#666;}
.API-hover-color p>a:hover{color:#ee5600;}

.search{position: absolute;top: -41px;left: 955px;width: 250px;}
.search input{width: 195px;height: 30px;border-right: 0px;border-radius: 3px 0px 0px 3px;outline:0;line-height: 30px;}
.search span{background:#00b7ee;width: 40px;color: #fff;text-align: center;height: 30px;line-height: 30px;border-radius: 0px 3px 3px 0px;border: 1px solid #00b7ee;cursor: pointer;}
.search_result a{text-align:left;font-size:16px;}
.search_result p{word-wrap: break-word;font-size:13px;word-break: break-all;}

.bt1 { border-top: 1px solid #30c2ff24;  }
.bb1 {border-bottom: 1px solid #30c2ff24;  }
.btb1 {border-top: 1px solid #30c2ff24; border-bottom: 1px solid #30c2ff24;  }
.guide_left {  position: relative;  width: 200px;  border: 1px solid #30c2ff24;  margin-bottom: 40px;  color: #333;  background-color: white;  }
.guide_left .menu .level1 {  list-style: none  }
.guide_left .menu .level1 span {  display: block;  width: 50%;  float: left;  font-size: 16px ;padding-left:40px; text-align:left;}
.guide_left .menu .level1 i {  width: 20%;  float: right  }
.guide_left .menu .level2 {  clear: both;  background: #f7f7f7;  }
.guide_left .menu .level2 a {  text-align: left;  text-indent: 3.5em;  line-height: 25px;  height: 35px;  overflow: hidden;  white-space: nowrap;  text-overflow: ellipsis;  }
.guide_left .menu .level2 a:hover {  text-decoration: underline  }
.guide_left .menu .level2 a:first-child {  padding-top: 1em;  }
.guide_left .menu .level2 a:last-child {  padding-bottom: 0.4em;  }
.guide_left .cur .level1 {  background: white;  border-left: 5px solid rgba(254, 116, 31, 0.9);  text-indent: -5px  }
.guide_left .cur .level1 i {  display: block  }