<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">


    <!-- 邮件消息队列 -->
    <!--<bean class="com.ruizton.task.queue.SendMailQueue"/>-->
    <!-- 短信消息队列 -->
    <bean class="com.ruizton.task.queue.SendMessageQueue"/>
    <!-- 语音验证码 -->
    <bean class="com.ruizton.task.queue.SendVoiceQueue"/>
    <!-- 用户异常登录问题 -->
    <bean class="com.ruizton.task.queue.UserLoginedBackQueue"/>

    <!-- 微信token任务 -->
    <bean id="weChatAccessTokenExecutor" class="com.zhgtrade.auto.task.WeChatAccessTokenExecutor"/>

    <task:scheduler id="scheduler" pool-size="20" />
    <task:scheduled-tasks scheduler="scheduler">

        <!-- 每30秒同步一次系统常量 -->
        <task:scheduled ref="constantMap" method="init" cron="*/30 * * * * ?"/>
        <!--刷新排行榜-->
        <task:scheduled ref="realTimeDealDataService" method="run" fixed-delay="500"/>
        <!--刷新深度挂单数据-->
        <task:scheduled ref="realTimeEntrustDepthService" method="run" fixed-delay="200"/>
        <!--刷新最新成交价数据-->
        <task:scheduled ref="realTimePriceService" method="run" fixed-delay="200"/>
        <!--刷新成交记录数据-->
        <task:scheduled ref="realTimeEntrustService" method="run" fixed-delay="200"/>
        <!-- 微信token -->
        <task:scheduled ref="weChatAccessTokenExecutor" method="execute" initial-delay="1000" fixed-delay="7000000"/>

    </task:scheduled-tasks>

    <!-- 钱包充值记录 -->
    <import resource="applicationContext-quartz5.xml"/>
    <import resource="applicationContext-quartz6.xml"/>
    <import resource="applicationContext-quartz7.xml"/>

    <import resource="applicationContext-quartz8.xml"/>
    <import resource="applicationContext-quartz9.xml"/>
    <import resource="applicationContext-quartz10.xml"/>
    <import resource="applicationContext-quartz11.xml"/>

</beans>

